@import "normalize";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "includes";

#section1{
    background: red;
    transform: skewY(-3deg);
    border-bottom: 1px solid #eee;
    margin-top: -55px;
    padding-bottom: 100px;
    -webkit-backface-visibility: hidden;
}

#section2{
    background: orange;
    transform: skewY(-3deg);
    border-bottom: 1px solid #eee;
    margin-top: -55px;
    padding-bottom: 100px;
    -webkit-backface-visibility: hidden;
    
}