<header>
	<div class="v-language pull-right">
		<a href="#">English</a> |
		<a href="#">Bahasa Malaysia</a>
	</div>
	<div class="v-language login-button pull-right">
		{{#if session.loggedIn }}
			<a href="/logout">
				Logout
			</a>
		{{else}}
			<a href="#"
				data-toggle="modal" 
				data-target="#login-modal"
			>
				Login
			</a>
		{{/if}}
	</div>
</header>