<div 
	class="modal fade signup {{ role }}" 
	id="{{ role }}-modal" 
	role="dialog" 
	aria-hidden="true" 
	style="display: none;"
>
	<h1 class="v-center">
		{{ title }}
	</h1>
	<div class="modal-dialog">
		{{> signup-common }}		
	</div>
</div>
